@media (max-width: 1024px) {
    footer .footer-content {
      text-align: left; 
    }
  
    footer .footer-content p {
      text-align: left; 
      margin-left: 10px;
    }
  
    footer .theme-toggle {
      position: absolute;
      bottom: 25px;
      right: 20px; 
      display: block;
    }
  
    .bx-sun.selected-icon {
      color: black;
    }
  }
