@media (max-width: 1024px) {
    section {
        margin-bottom: 150px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 20px;
    }

    section h1 + p {
        font-size: 15px;
        padding: 0 20px;
    }

    section h2 + p {
        margin-left: 20px;
        font-size: 15px;
        line-height: 1.5;
    }
}