@media (max-width: 1024px) {
    header nav ul {
        background-color: var(--background-color);
        border-radius: 8px;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body.dark-mode header nav ul {
        background-color: var(--background-color);
        border-radius: 8px;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .bx-sun.selected-icon {
        color: black;
    }
}