footer {
    padding: 1rem 0;
    text-align: center;
    position: relative;
    width: 100vw; 
    z-index: 1; 
    box-sizing: border-box; 
    margin-top: auto;
    font-family: 'Inter', sans-serif;
    background-color: #fff; 
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    width: 100%; 
    box-sizing: border-box;
}

footer .footer-content p {
    margin-left: 15em;  
}

footer .theme-toggle {
    background: none;
    border: none;
    font-size: 4rem;
    cursor: pointer;
    margin-right: 15rem;
}

.theme-toggle span {
    cursor: pointer;
    margin: 0;
    font-size: 15px;
}

.selected-icon {
    border-radius: 50%; 
    padding: 2px; 
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    padding: 0px;
    border-radius: 20px;
    transition: border 0.3s ease;
}









  






  








  






  