/* header.css */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100% ;
    z-index: 1000;
    font-family: "Geist", serif;
    font-weight: 300;
    border-bottom: 1px solid var(--trait-color) ; 
    width: calc(100% - 1.1rem); 
    background-color: var(--background-header-color);
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(0px);   
} 

header .logo {
    font-size: 0rem;
    margin-left: 4rem;
}

#logo {
    height: 45px; 
    width: auto; 
}

body.dark-mode #logo {
    height: 45px; 
    width: auto; 
}
  
header nav {
    display: flex;
    margin-right: 3.5rem;
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0rem;
} 

header nav ul li {
    margin-left: 25px; 
}

header nav ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-grey); 
}

/*
header nav ul {
    background-color: var(--);
    border-radius: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.dark-mode header nav ul {
    background-color: var(--);
    border-radius: 8px;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

header nav ul li a:hover {
    color: var(--text-grey-hover);
}

header nav ul .centered {
    margin-right: 1rem;
} 

header nav ul li a.button-link {
    margin-right: -0.7rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--btn1-background-color);
    color: var(--text-btn1-color);
    border: 1px solid var(--trait-color);
}

header nav ul li a.button-link:hover {
    background-color: var(--btn1-background-color-hover); 
}

body.dark-mode header nav ul li a.button-link:hover {
    background-color: var(--btn1-background-color-hover);
}

body.dark-mode a.button-link:hover {
    opacity: 0.8;
}

header nav ul li a.button-link2 {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease;
    font-size: 14px;
    margin-right: -1rem;
    font-weight: 600;
    background-color: var(--btn2-background-color);
    color: var(--text-btn2-color);
}

header nav ul li a.button-link2:hover {
    opacity : 0.9 ;
}

header .hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: 1px solid  var(--trait-color); 
    border-radius: 50%; 
    background-color: transparent;
    width: 35px; 
    height: 35px;
    justify-content: center; 
    align-items: center;
}

header .hamburger span {
    height: 2px;
    width: 20px; 
    margin: 3px 0;
    background-color: var(--text-grey); 
}

body.dark-mode header .hamburger span {
    background-color: var(--text-grey);
}

header .theme-toggle {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem; 
    align-self: center; 
}

@media (min-width: 1025px) {
    header .theme-toggle {
        display: none; 
    }

    .hide-theme {
        display: none;
    }
}

@media (max-width: 1024px) {
    header {
        width: 100%;
        margin-top: 0rem;
        padding: 1rem 0;
        background-color: var(--background-header-color);
        backdrop-filter: blur(30px); 
        -webkit-backdrop-filter: blur(10px); 
    }

    header .logo {
        margin-left: 1rem;
    }

    header nav {
        margin-right: 1rem;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 73px;
        right: 0px;
        width: 200px;
        padding: 1rem;
        z-index: 10;
        height: 100vh;
        /* background-color: #fff;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
        background-color: var(--background-color); 
        border-radius: 8px;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    header nav ul li {
        margin: 0.5rem 0;
        margin-left: 1em;
        margin-right: 3.1em;
    }

    header nav ul li:nth-last-child(2) {
        margin-bottom: 0rem;
        margin-top: 0rem;
    }

    header nav ul li:last-child {
        margin-top: 1rem;
    }

    header nav ul .centered {
        margin-bottom: 1em;
    }

    header nav ul li a.button-link,
    header nav ul li a.button-link2 {
        display: block;
        width: 100%;
        text-align: center;
    }

    header .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 35px;
        height: 35px;
        cursor: pointer;
        border: 1px solid var(--trait-color);
        border-radius: 50%;
        background-color: transparent;
    }

    header .hamburger span {
        display: block;
        height: 2px;
        width: 20px;
        /* background-color: #333; */
        margin: 3px 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    header .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(3.65px, 2px);
        margin-right: 0.2rem;
    }

    header .hamburger.active span:nth-child(2) {
        transform: rotate(-45deg) translate(3.65px, -2px);
        margin-right: 0.2rem;
    }

    header nav.active ul {
        display: flex;
    }

    header .theme-toggle { 
        margin-top: -4.2rem; 
        right: 0.8rem; 
        order: 3; 
        position: absolute; 
        top : 26.6rem;
    } 
    
    .hide-theme {
        border-top: 1px solid var(--trait-color);
        border-bottom: 1px solid var(--trait-color);
        margin-left: -0.5rem;
        margin-right: -2.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.6rem;
    }    
}













  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  












  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  












  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  











  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  





  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  










  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  






  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  







  



  




  



  





  



  




  



  









  



  




  



  








  



  




  



  








  



  




  



  