:root {
    --background-color : white ; 
    --background-header-color : rgba(255, 255, 255, 0.596) ;  
    --text-btn1-color : black ;
    --text-btn2-color : white ; 
    --text-color : black ; 
    --text-grey : #646464 ;
    --text-grey-hover : black ; 
    --themes-toogle : #505050 ;
    --hamberger-spann : #7f7f7f ;
    --icone-color-grey : #7f7f7f ;
    --trait-color : rgb(220, 220, 220) ;
    --btn1-background-color : white ;
    --btn1-background-color-hover : rgb(243, 243, 243) ;  
    --btn2-background-color : black ;
    --btn2-background-color-hover : rgb(36, 36, 36) ;
}

body.dark-mode {
    --background-color : rgb(0, 0, 0) ;
    --background-header-color : rgba(0, 0, 0, 0.692) ; 
    --text-btn1-color : rgb(214, 214, 214) ;
    --text-btn2-color : black ; 
    --text-color : white ;
    --text-grey : #9b9b9b ;
    --text-grey-hover : rgb(255, 255, 255) ; 
    --themes-toogle : white ;
    --hamberger-spann : #cccccc;
    --icone-color-grey : #7f7f7f ;
    --trait-color : rgb(29, 29, 29) ; 
    --btn1-background-color : rgb(10, 10, 10) ; 
    --btn1-background-color-hover : #1c1c1c ;
    --btn2-background-color : rgb(241, 241, 241) ;
    --btn2-background-color-hover : rgb(234, 234, 234) ;
}