/* Sections.css */

section {
    margin-bottom: 200px; 
}

section h1, section h2 {
    text-align: center; 
    margin-bottom: 40px; 
}

h1 {
    font-size: 50px; 
    font-weight: 700;
}

h2 {
    font-size: 30px; 
    font-weight: 600;
}

section h1 + p {
    text-align: center; 
    font-size: 30px; 
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-grey); 
}

section h2 + p {
    margin-left: 170px; 
    font-size: 20px; 
    font-weight: 400;
    line-height: 1.6;
    color: var(--text-grey); 
}



