/*themes.css*/

:root {
    --background-color : white ; 
    --background-header-color : rgba(255, 255, 255, 0.692) ;  
    --text-btn1-color : black ;
    --text-btn2-color : white ; 
    --text-color : black ; 
    --text-grey : #7f7f7f ;
    --text-grey-hover : black ; 
    --themes-toogle : #505050 ;
    --hamberger-spann : #7f7f7f ;
    --icone-color-grey : #7f7f7f ;
    --trait-color : rgb(220, 220, 220) ;
    --btn1-background-color : white ;
    --btn1-background-color-hover : rgb(243, 243, 243) ;  
    --btn2-background-color : black ;
    --btn2-background-color-hover : rgb(36, 36, 36) ;

}

body.dark-mode {
    --background-color : black ;
    --background-header-color : rgba(0, 0, 0, 0.692) ; 
    --text-btn1-color : rgb(214, 214, 214) ;
    --text-btn2-color : black ; 
    --text-color : white ;
    --text-grey : #6b6b6b ;
    --text-grey-hover : rgb(255, 255, 255) ; 
    --themes-toogle : white ;
    --hamberger-spann : #cccccc;
    --icone-color-grey : #7f7f7f ;
    --trait-color : rgb(29, 29, 29) ; 
    --btn1-background-color : rgb(10, 10, 10) ; 
    --btn1-background-color-hover : #1c1c1c ;
    --btn2-background-color : rgb(241, 241, 241) ;
    --btn2-background-color-hover : rgb(234, 234, 234) ;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

body.dark-mode {
    background-color: (--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--background-header-color);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
}

body.dark-mode header, body.dark-mode footer {
    background-color: var(--background-header-color);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
}

header nav ul li a {
    color: var(--text-grey);
}

body.dark-mode header nav ul li a {
    color: var(--text-grey);
}

header nav ul li a:hover {
    color: var(--text-grey-hover);
}

body.dark-mode header nav ul li a:hover {
    color: var(--text-grey-hover);
}

footer {
    color: var(--text-color);
}

body.dark-mode footer {
    color: var(--text-color);
}

header .hamburger span {
    background-color: var(--trait-color);
}

body.dark-mode header .hamburger span {
    background-color: var(--trait-color);
}

body.dark-mode header {
    border-bottom: 1px solid var(--trait-color);
} 

header .hamburger { 
    border-color: var(--trait-color);
}

body.dark-mode header .hamburger { 
    border-color: var(--trait-color);
}

header nav ul li a.button-link2 {
    background-color: var(--btn2-background-color);
    color: var(--text-btn2-color);
}

header nav ul li a.button-link2:hover {
    background-color: var(--btn2-background-color-hover);
}

body.dark-mode header nav ul li a.button-link2 {
    background-color: var(--btn2-background-color);
    color: var(--text-btn2-color);
    border: 1px solid var(--trait-color);
}

body.dark-mode header nav ul li a.button-link2:hover {
    background-color: var(--btn2-background-color-hover);
}

header nav ul li a.button-link {
    background-color: var(--btn1-background-color);
    color: var(--text-btn1-color);
    border: 1px solid var(--trait-color);
}

body.dark-mode header nav ul li a.button-link {
    background-color: var(--btn1-background-color);
    border: 1px solid var(--trait-color);
    color: var(--text-btn1-color);
}

header nav ul li a.button-link:hover {
    background-color: var(--btn1-background-color-hover); 
}

body.dark-mode header nav ul li a.button-link:hover {
    background-color: var(--btn1-background-color-hover);
}

body.dark-mode a.button-link:hover {
    opacity: 0.8;
}




/* Couleurs bordures thèmes */

.icon-container {
    border-color: rgb(220, 220, 220);
}

body.dark-mode .icon-container {
    border-color: rgb(46, 46, 46);
}

/* Couleurs des icônes de changement de thème */

body .theme-toggle .selected-icon {
    color: #000;
    border-color: rgb(220, 220, 220);
}

body.dark-mode .theme-toggle .selected-icon {
    color: #fff;
    
}

body.dark-mode .theme-toggle .selected-icon {
    background-color: #0f0f0f;
}

body .theme-toggle span:not(.selected-icon) {
    color: #7d7d7d;
}

body .theme-toggle span:not(.selected-icon):hover {
    color: black;
}

/* Bordure et effets au survol des icônes de changement de thème */
body .theme-toggle span {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

body.dark-mode .theme-toggle span:not(.selected-icon) {
    color: #7f7f7f ;
}

body .theme-toggle #icon-moon:hover {
    background-color: rgba(36, 36, 36, 0.2); 
}

body.dark-mode .icon-container #icon-sun-footer:hover {
    color: white !important;
}

body.dark-mode .icon-container #icon-moon-footer {
    color: white !important; 
}

body.dark-mode .theme-toggle .selected-icon {
    border: 1px solid rgb(64, 64, 64);
}



@media (max-width: 1024px) {
    header nav ul {
        background-color: white;
        border-radius: 8px;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body.dark-mode header nav ul {
        background-color: #000000;
        border-radius: 8px;
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
}








































