/*themes.css*/


body.dark-mode header, body.dark-mode footer {
    background-color: var(--background-header-color);
    backdrop-filter: blur(20px); 
    -webkit-backdrop-filter: blur(20px);
}








/* Icones thèmes */

.icon-container {
    border-color: var(--trait-color);
}

body.dark-mode .icon-container {
    border-color: var(--trait-color);
}

body .theme-toggle .selected-icon {
    border-color: var(--trait-color);
}

body.dark-mode .theme-toggle .selected-icon {
    color: white; 
}

body.dark-mode .theme-toggle .selected-icon {
    background-color: #0f0f0f;
}

body .theme-toggle span:not(.selected-icon) {
    color: #575757;
}

body .theme-toggle span:not(.selected-icon):hover {
    color: black;
}

body .theme-toggle span {
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

body.dark-mode .theme-toggle span:not(.selected-icon) {
    color: #7f7f7f ;
}

body .theme-toggle #icon-moon:hover {
    background-color: rgba(36, 36, 36, 0.2); 
}

body.dark-mode .icon-container #icon-sun-footer:hover {
    color: white !important;
}

body.dark-mode .icon-container #icon-moon-footer {
    color: white !important; 
}

body.dark-mode .theme-toggle .selected-icon {
    border: 2px solid var(--trait-color);
}


















































































































































































































































